body {
    font-family: Arial;
    margin: 0;
    min-height: 100vh;
    min-width: 200px;
  }

  header {
    display: flex;
    justify-content: space-between;
    background: #13293d;
    color: #fff;
  }

  header h1 {
    padding: 10px 10px 10px 20px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
  }

  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
  }

  #about_me {
    padding-top: 20px;
    padding-left: 43px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  #about_me h2 {
  border-right: 5px solid;
  padding-right: 10px;
  }

  #about_me p {
  width: 75%;
  padding-left: 20px;
  }

  #work {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  #work h2 {
    border-right: 5px solid;
    padding-left: 94px;
    padding-top: 65px;
    padding-right: 8px;
  }
  
  #work img {
    /* width: 75%; */
    padding-left: 50px;
  }

  
  footer {
    display: flex;
    justify-content: space-between;
    color: black; 
  }

  #contact_me {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  #contact_me h2 {
    border-right: 5px solid;
    padding-right: 10px;
  }

  #contact_me nav {
    align-items: center;
    justify-content: right;
    padding-left: 100px;
    }

  footer a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
  }

  a:hover {
    color: green;
  }

  /* a:visited {
    color: red;
  } */