body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 200px;
    justify-content: flex-start;
  }

  header {
    /* display: flex; */
    padding: 20px 0 0 20px;
    text-align: left;
    /* text-justify: inherit; */
    background: #13293d;
    color: #fff;
  }

  nav {
    display: flex;
    text-justify: right;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    color: white; 
}

  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
  }

  #about_me {
    /* display: block; */
    padding: 20px;
    text-align: left;
    display: inline-block;
    margin-left: 20px;
  }

  #work {
    padding: 20px;
    text-align: left;
    display: inline-block;
    margin-left: 20px;
  }

  #contact_me {
    padding: 20px;
    text-align: left;
    display: inline-block;
    margin-left: 20px;
  }

  footer {
    display: flex;
    padding: 20px;
    text-align: top;
    color: black; 
  }

  a:hover {
    color: green;
  }